.container1 {
    width: 100%;
    height: 900px;
    background-color: gray;
}

.container2 {
    width: 100%;
    height: 900px;
    background-color: rgb(255, 255, 255);
}

h1 {
    margin-top: 0;
    position: relative;
    color: white;
    font-size: 30px;
}

hr {
    background-color: white;
    height: 1px;
}

.lefttext {
    width: 700px;
    height: 400px;
    margin: 55px;
    position: relative;
    top: 200px;
    left: 100px;
    float: left;
}

.rightmenu {
    width: 600px;
    height: 600px;
    background-color: white;
    position: relative;
    right: 200px;
    border-radius: 25px;
    margin: 75px;
    float: right;
}

.starttrial {
    color: gray;
    margin-top: 40px;
    text-align: center;
}

.oruse {
    color: gray;
    text-align: center;
    margin-top: 30px;
}

.hr-lines {
    position: relative;
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
}

.hr-lines:before {
    content: " ";
    height: 2px;
    width: 180px;
    background: grey;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
}

.hr-lines:after {
    content: " ";
    height: 2px;
    width: 180px;
    background: grey;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
}

#text1 {
    margin-right: 15px;
}

#e-mail {
    width: 540px;
    height: auto;
    margin: 20px;
}

#pswrd {
    width: 540px;
    height: auto;
}

.box1 {
    width: 900px;
    height: 200px;
    margin-top: 100px;
    margin-left: 50px;
    float: left;
    background-color: white;
}

.box2 {
    width: 900px;
    height: 200px;
    margin-top: 100px;
    margin-left: 50px;
    float: left;
    background-color: white;
}

.box3 {
    width: 900px;
    height: 200px;
    margin-top: 100px;
    margin-left: 50px;
    float: left;
    background-color: white;
}

.box4 {
    width: 900px;
    height: 200px;
    margin-top: 100px;
    margin-left: 50px;
    float: left;
    background-color: white;
}

.lastcontainer {
    width: 100%;
    height: 300px;
    background-color: rgb(196, 190, 190);
}